<nav class="navbar">
    <div class="container">
      <a class="logo" routerLink="/">MyApp</a>
      <ul class="nav-links">
        <li><a routerLink="Home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="Product" routerLinkActive="active">Les Produit</a></li>
        <li><a routerLink="addProduct" routerLinkActive="active">Proposer un produit</a></li>
        <li><a routerLink="Residence" routerLinkActive="active">Residence</a></li>
        <li><a routerLink="FormUser" routerLinkActive="active">User Form</a></li>
        <li><a routerLink="ListProduit" routerLinkActive="active">ListProduit</a></li>

      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
  